
@function addPadding($size, $amount) {
  @return $size + $amount + rem;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  padding: 0.25rem;
  margin: 0.25rem;
}

li {
  padding-bottom: 0.5rem;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

.curriculum-container {
  display: flex;
  flex-direction: column;
  min-width: 50vw;
  margin: auto;
  border-radius: 1rem;
  background-color: #FFF;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 2px 5px 10px 0px rgba(0,0,0,0);
  box-shadow: 0px 10px 13px -7px #000000, 2px 5px 10px 0px rgba(0,0,0,0);
  h1, h2 {
    color: $section-header-color;
  }
  ul {
    list-style-type: none;
    padding-left: 1rem;
  }
  @media (max-width: $mqMinWidth) {
    width: 100%;
    h3 {
      font-size: 1.1rem;
    }
  }
}

.curriculum-introduction {
  padding-top: 0.5rem;
}

.curriculum-title {
  font-family: $font-family-serif;
  font-size: 32px;
  font-weight: 700;
  padding: 0.5rem;
  @media (min-width: $mqMinWidth) {
    font-size: 38px;
  }
}

.curriculum-experience {
  li > div:first-child {
    font-weight: 500;
  }
}

.curriculum-education, .curriculum-others {
  div {
    padding-left: 1rem;
  }
}

section {
  padding: addPadding(0.25, 0.25);
  h3 {
    color: $section-header-color;
  }
}
section:nth-child(even) {
  text-align: right;
  background-color: $uoc-bg;
  @media (max-width: $mqMinWidth) {
    text-align: left;
  }
}
